@import "tailwindcss";

@theme {
  /* Tonos naturales: Verdes bosque y esmeralda */
  --color-primary: #065f46; /* Verde oscuro (Bosque) */
  --color-secondary: #10b981; /* Verde esmeralda vibrante */
  --font-sans: 'Inter', system-ui, sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
